@model GYMSystem_GymSystem.Models.Client

@{
    ViewData["Title"] = "Active";
}

<h1>Active</h1>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DOB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DOB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.End_Subscription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.End_Subscription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department.DepartmentCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Branch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Branch.BranchLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subscription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subscription.SubscriptionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trainer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trainer.TrainerName)
        </dd>
    </dl>
</div>
<div>
    <a asp-area="Admin" asp-action="Save" asp-route-id="@Model?.ClientId">Active!</a> |
    <a asp-action="Index">Back to List</a>
</div>
