@model GYMSystem.Models.Subscription

@{
    ViewData["Title"] = "Details";
}
<div class="container">
    <h1>Details</h1>

    <div>
        <h4>Subscription</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.SubscriptionName)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.SubscriptionName)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.SubscriptionPrice)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.SubscriptionPrice)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.SubscriptionPeriod)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.SubscriptionPeriod)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.SubscriptionStatus)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.SubscriptionStatus)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.SubscriptionId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>

</div>
