@model GYMSystem.Models.Client

<h2>Register</h2>

@using (Html.BeginForm("Register", "Client", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.UserName)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.UserPassword)
        @Html.PasswordFor(m => m.UserPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.UserPassword)
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
}
